.page {
    display: flex;


    background: #ffffff;

    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    height: 100vh;
    background-color: #1d203f;
    
}
.left_side{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: baseline;
    margin-top:30px;
}
.profile_container{
    display:flex;
    align-self: center;
    width: 90%;
    justify-content: center;
    margin-left: 100px;
    margin-top: 50px;
}
.item{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.profile_left{
    display: flex;
    flex-direction: column;
    width: 50%;
    
 
}
.profile_right{
    width: 50%;
}

.input {
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40px;

    border-radius: 10px;
    border: none;

    color: #c2c4d1;

    padding: 0px 10px;

    background-color: #393e5e;
}
.input_error {
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40px;

    border-radius: 10px;

    color: #c2c4d1;
    border-color: red;
    padding: 0px 10px;

    background-color: #393e5e;

   
}

.input_error:focus {
    outline: none;
}
.text_error {
   margin-left: 100px;
    width: 70%;

    /* text */
    color: red;
    font-size: 14px;
    font-weight: bold;
}








.label{
    color:white;
    font-size: large;
    display: flex;
}
.profile_title{
    color: white;
    font-size: xx-large;
    text-align: center;
    margin:0;
}
.right_side{
    width: 30%;
}


.statistics_title{
    text-align: center;
    color: white;
    font-size: xx-large;
}





.button{
    margin-top:200px;
    width:30%;
    align-self: center;
    height: 40px;
    border-radius:15px;
    background-color: #393e5e;
    color:white;
    font-size: large;
    cursor: pointer;
}