
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 300px;
    height: 250px;

    border-radius: 20px;

    cursor: pointer;
}

.image {
    position: absolute;

    width: 300px;
    height: 120px;

    object-fit: cover;

    border-radius: 20px 20px 0 0;
}

.content {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 300px;
    height: 150px;

    margin-top: 100px;

    background-color: #393e5e;

    border-radius: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30px;

    font-size: 20px;

    color: #ffffff;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    width: 90%;
    height: 40px;

    margin-top: 10px;

    font-size: 14px;

    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 290px;
    height: 50px;

    margin-top: 5px;

    font-size: 14px;

    color: #ffffff;
}

.text_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 190px;
    height: 25px;

    margin-top: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 15px;

    color: #ffffff;
}

.text_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 80px;
    height: 25px;

    margin-top: 5px;

    font-size: 15px;

    color: #ffffff;
}
