.page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    background: #1d203f;

    width: 100%;
    height: auto;

    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 80%;
    height: 100vh;

    margin-left: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 95%;
    height: 50%;

    margin-top: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
    height: 50px;

    font-size: 20px;
    font-weight: bold;

    color: #ffffff;
}

.page_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: calc(100% - 50px);
}

.arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: bold;

    color: #ffffff;

    cursor: pointer;
}

.events_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: calc(100% - 100px);
}

.event_card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 250px;
}
