.page {
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    /* background */
    background: #ffffff;

    /* dimension */
    width: 100%;
    min-height: 100vh;

    /* border */
    /* spacing */
    /* text */
}