.background {
    flex-grow: 1;

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* background */
    background: linear-gradient(135deg, #2d5b70, 15%, #0e1729);

    /* dimension */
    width: 100%;
    min-height: 100vh;

    /* border */
    /* spacing */
    /* text */
}

.container {
    /* display */
    /* background */
    background-color: #141f34;

    /* dimension */
    height: auto;
    
    /* border */
    border-radius: 18px;

    /* spacing */
    margin: 20px 0px;

    /* text */
}

.item {
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background */
    /* dimension */
    /* border */
    /* spacing */
    margin: 0px;
    padding: 10px 0px;

    /* text */
}

.message {
    /* display */
    /* background */
    /* dimension */
    width: 90%;

    /* border */
    /* spacing */
    /* text */
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.button {
    /* display */
    /* background */
    background-color: #5fc4ee;

    /* dimension */
    width: 80%;
    height: 60px;

    /* border */
    border-style: solid;
    border-radius: 8px;
    border-color: #5fc4ee;

    /* spacing */
    margin: 20px 0px;

    /* text */
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;

    /* cursor */
    cursor: pointer;
}

.button:hover {
    /* display */
    /* background */
    background-color: #202a3e;

    /* dimension */
    /* border */
    /* spacing */
    /* text */
    color: #5fc4ee;
}