body{
    height: 100vh;
}    

.parent-container{
    display: flex;
    background-color: green;
    height: 100vh;
}

.container{
    display: flex;
    background-color: white;
    margin:auto;
    width: 50%;
    border-radius: 10px;
}
.left-side{
    flex:1;
}
.right-side{
    flex:1;
}

.register-title{
    text-align: center;
}

.container img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    border-right: 1px solid green;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
 
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    flex: 1;

  }

.last-of-content-form{
    display: flex;
    flex-direction: column;
}

.name-input  {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.input2{
    align-items: flex-end;
}

.name-input input{
    border-radius: 5px;
    height: 2.5em;
    width: 100%;
    border: 1px solid gray;
    margin-bottom:5px;
}
.last-of-content-form input {
    border-radius: 5px;
    height: 2.5em;
    width: 100%;
    border: 1px solid gray;
    margin-bottom:5px;
}

.register-button{
    color: #dadee5;
    text-shadow: -1px -1px 0 #000;
    border-color: #000;
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.25), 0 1px 2px 0 rgba(0,0,0,.44);
    background: linear-gradient(0deg,#2e2e2e 0,#030303);
    max-width: 50%;
    min-width: 50%;
    height: 3em;
    cursor: pointer;
    align-self: center;
    margin:5px;
    border-radius: 4px;
    font-weight: 500;
}

.register-button:hover{
    background: linear-gradient(0deg, #030303 0, #2e2e2e);
    color: #fff;
}

.sign-in-message{
    align-self: center;
}

.sign-in-message a{
    text-decoration: none;
}
.sign-in-message a:hover{
    color: green;
}

.register-form{
    width: 50%;
    margin: auto;
}

.input2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.last-name-column{
    text-align: left;
    width: 100%;
}
.column2{
    align-items: flex-end;
}

.gender{
    display: flex;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}
.gendertype{
    display: flex;
    align-items: center;
}
.gendertype input{
    cursor: pointer;
}