body{
    height: 100vh;
}    

.parent-container{
    display: flex;
    background: linear-gradient(0deg,#0e1729, #2d5b70);
    height: 100vh;
}

.container{
    display: flex;
    background-color: #141f34;
    margin:auto;
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.left-side{
    flex:1;
    display: flex;
}
.right-side{
    flex:1;
}

.register-title{
    text-align: center;
    color: white;
}

.container img {
    /* display: block; */
    width: 80%;
    height: 50%;
    margin: auto;
    border-radius: 10px;
}

.last-of-content-form{
    display: flex;
    flex-direction: column;
}

.name-input input{
    border-radius: 5px;
    height: 2.5em;
    width: 100%;
    margin-bottom:5px;
    background-color: #202a3e;
   border: 0;
   margin: 0;
   padding: 0;

}
.last-of-content-form input {
    border-radius: 5px;
    height: 2.5em;
    width: 100%;
    margin-bottom:5px;
    background-color: #202a3e;
    border: 0;
   margin: 0;
   padding: 0;
   
}

.register-button{
    color: white;
    text-shadow: -1px -1px 0 #5fc4ee;
    border-color: #5fc4ee;
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.25), 0 1px 2px 0 rgba(0,0,0,.44);
    background: linear-gradient(0deg,#5fc4ee 0,#069edf);
    max-width: 50%;
    min-width: 50%;
    height: 3em;
    cursor: pointer;
    align-self: center;
    margin:5px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 500;
}

.register-button:hover{
    background: linear-gradient(0deg, #069edf 0, #a6bec9);
    color: #fff;
}

.sign-in-message{
    align-self: center;
    color: #5fc4ee;
}

.sign-in-message a{
    text-decoration: none;
}
.sign-in-message a:hover{
    color: white;
}

.register-form{
    width: 50%;
    margin: auto;
}

.gender{
    display:flex;
    flex-direction: column;
    margin-top:10px;
}
.gender select {
    background-color: #141f34;
    color: white;
    height: 3em;
    border-radius: 4px;
}

.register-form label{
    color: white;
}


.recover-password a {
    text-decoration: none;
    color: white;
}

.register-form input{
    margin-top:15px;
    padding-left: 10px;
}