.background {
    /* display */
    flex-direction: column;

    /* background */
    background-color: #FFFFFF;

    /* dimension */
    width: 100%;
    height: 120px;

    /* border */
    /* spacing */
    /* text */
}

.up {
    /* display */
    display: flex;
    flex-direction: row;

    /* background */
    /* dimension */
    width: 100%;
    height: 60px;

    /* border */
    /* spacing */
    /* text */
}

.left {
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    /* background */
    /* dimension */
    width: 100%;
    height: 60px;

    /* border */
    /* spacing */
    /* text */

}

.logo {
    /* display */
    /* background */
    /* dimension */
    width: auto;
    height: 50px;

    /* border */
    /* spacing */
    margin: 5px 10px;

    /* text */
}

.app_title {
    /* display */
    /* background */
    /* dimension */
    /* border */
    /* spacing */
    margin: 5px 10px;

    /* text */
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.right {
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    /* background */
    /* dimension */
    width: 100%;
    height: 60px;

    /* border */
    /* spacing */
    /* text */
}

.down {
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background */
    background-color: #141f34;

    /* dimension */
    width: 100%;
    height: 60px;

    /* border */
    /* spacing */
    /* text */
}

.button {
    /* display */
    /* background */
    background-color: #141f34;

    /* dimension */
    width: auto;
    height: 50px;

    /* border */
    border-style: none;

    /* spacing */
    padding: 0px 20px;

    /* text */
    color: #FFFFFF;
    font-size: 24px;
}

.button:hover {
    /* display */
    /* background */
    /* dimension */
    /* border */
    /* spacing */
    /* text */
    /* cursor */
    cursor: pointer;
}

.selected_button {
    /* display */
    /* background */
    background-color: #FFFFFF;

    /* dimension */
    width: auto;
    height: 50px;

    /* border */
    border-style: none;

    /* spacing */
    padding: 0px 20px;

    /* text */
    color: #000000;
    font-size: 24px;
}

.selected_button:hover {
    /* display */
    /* background */
    /* dimension */
    /* border */
    /* spacing */
    /* text */
    /* cursor */
    cursor: pointer;
}

.select {
    /* display */
    /* background */
    background-color: #141f34;

    /* dimension */
    width: auto;
    height: 50px;

    /* border */
    border-style: none;

    /* spacing */
    padding: 0px 20px;

    /* text */
    color: #FFFFFF;
    font-size: 24px;
}