.page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    background: #1d203f;

    width: 100%;
    height: auto;

    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 80%;
    min-height: 100vh;

    margin-left: 20%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 100px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    height: 100%;

    font-size: 20px;
    font-weight: bold;

    color: #ffffff;
}

.datepicker {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    height: 100%;

    font-size: 20px;

    color: #ffffff;
}

.events_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    width: 100%;
    height: auto;
}

.event_card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 250px;

    margin: 0 10px 40px 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    width: 90%;
    height: 80px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 50px;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    margin: 0 5px 0 5px;

    font-size: 20px;

    color: #ffffff;
    
    cursor: pointer;
}

.element:hover {
    color: orange;
}

.selected_element {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    margin: 0 5px 0 5px;

    font-size: 20px;

    color: orange;
    
    cursor: pointer;
}

.no_events {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - 100px);

    font-size: 40px;
    font-weight: bold;

    color: #ffffff;
}
